<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>{{ page.title }}</title>
    <link href="https://fonts.googleapis.com/css?family=Exo+2:300,400,700" rel="stylesheet">
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <header>
        <section>
            <a href="#">
                <div class="photo"></div>
            </a>
            <div class="info">
                <div class="name">
                    <h1>Yannick Mauray</h1>
                </div>
                <div class="title">
                    <h2>Ingénieur logiciel</h2>
                </div>
                <ul class="tabs">
                    <li class="home">
                        <a href="#">Home</a>
                    </li>
                    <li class="resume">
                        <a href="#">Resume</a>
                    </li>
                    <li class="portfolio">
                        <a href="#">Portfolio</a>
                    </li>
                    <li class="contacts">
                        <a href="#">Contacts</a>
                    </li>
                    <li class="feedback">
                        <a href="#">Feedback</a>
                    </li>
                    <li class="blog">
                        <a href="#">Blog</a>
                    </li>
                </ul>
            </div>
        </section>
    </header>