<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>{{ page.title }}</title>
    <link href="https://fonts.googleapis.com/css?family=Exo+2:300,400,700" rel="stylesheet">
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <div id="site-header">
        <div id="photo">

        </div>
        <div id="site-nav">
            <div id="nameplate">
                <h1>Yannick Mauray</h1>
            </div>
            <div id="title">
                <h2>Ingénieur logiciel</h2>
            </div>
            <div id="tabs">
                <div class="tab" id="tab-home"><a href="#">Accueil</a></div>
                <div class="tab" id="tab-cv"><a href="#">CV</a></div>
                <div class="tab" id="tab-portfolio"><a href="#">Portfolio</a></div>
                <div class="tab" id="tab-contacts"><a href="#">Contact</a></div>
                <div class="tab" id="tab-feedback"><a href="#">Feedback</a></div>
                <div class="tab" id="tab-blog"><a href="#">Blog</a></div>
            </div>
        </div>
    </div>